[submodule "bgfx"]
	path = bgfx
	url = https://github.com/josejl1987/bgfx.git
[submodule "bx"]
	path = bx
	url = https://github.com/josejl1987/bx.git
[submodule "bimg"]
	path = bimg
	url = https://github.com/bkaradzic/bimg.git
